.profile {
  width: 216px;
  padding: 10px;
  text-align: center;
  margin-bottom: 5px;
}
.name {
  color: #616763;
  font-size: 14px;
  margin-top: 5px;
}
.email {
  color: #6d7470;
  font-size: 11px;
  margin-top: 5px;

}
