.root {
  display: flex;
  .actions {
    display: flex;
    position: fixed;
    bottom: 16px;
    left: 16px;
    z-index: 1;
    height: 32px;
    cursor: pointer;
  }
  .aiCheckButton {
    cursor: pointer;
    display: flex;
    background: #2eb964;
    position: fixed;
    bottom: 0;
    right: 380px;
    z-index: 1;
    height: 40px;
    width: 300px;
    border-radius: 4px 4px 0 0;
    padding: 0 10px;
    line-height: 3;
    font-size: 14px;
    .expand {
      margin-left: auto;
    }
  }
}

.doImage {
  transform: scale(-1, 1);
}

