.status {
  background: #6BA1D3;
  font-size: 1.4rem;
  height: 2.2rem;
  line-height: 1.7;
  border-radius: 4.4rem;
  color: #fff;
  min-width: 7.2rem;
  display: inline-block;
  text-align: center;
}
