.root {
  background: #2EB964;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame {
  position: relative;
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 4px;
  .logo {
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -74px;
  }
}
.main {
  padding: 40px;
  min-height: 500px;
}

@media screen and (max-width:400px) {
  .main {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
}
